body
{
	scrollbar-face-color:#454444 ;
scrollbar-track-color: white;
scrollbar-arrow-color: #ffffff;
scrollbar-highlight-color: #454444;
scrollbar-shadow-color: #454444;
scrollbar-3dlight-color: #454444;
scrollbar-darkshadow-color: #454444;
}
html 
{
scrollbar-face-color:#454444 ;
scrollbar-track-color: white;
scrollbar-arrow-color: #ffffff;
scrollbar-highlight-color: #454444;
scrollbar-shadow-color: #454444;
scrollbar-3dlight-color: #454444;
scrollbar-darkshadow-color: #454444;
}
